html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
dl,
dd,
dt,
form {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  border-style: none;
}
a,
img {
  outline: none;
  border: 0;
}
.clearfix:after {
  content: '';
  display: block;
  width: 100%;
  font-size: 0;
  clear: both;
}
body {
  font-size: 12px;
  color: #555;
  font-family: "PingHei", "STHeitiSC-Light", "tahoma", "Myriad Set Pro", "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif", "microsoft yahei";
}
.mainZhuanti {
  display: none;
}
.mubu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2f2f2f;
  z-index: 200;
}
.mubu .mubuinner {
  height: 100%;
}
.mubu .mubuinner ul {
  padding-top: 50px;
  background: #2f2f2f;
}
.mubu .mubuinner > div {
  padding: 35px 0 10px;
  background: #2f2f2f;
}
.mubu .mubuinner > div > a {
  display: block;
  width: 50%;
  text-align: center;
  margin: 0 auto ;
  height: 42px;
  line-height: 42px;
  color: #fff;
  opacity: 0;
  transition: all 1.2s 1s;
}
header {
  height: 45px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: all .4s;
}
header .logo {
  width: 200px;
  height: 45px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/logo.png") no-repeat center center;
  background-size: 160px;
  float: left;
}
header .mubulogo {
  background-image: url(../img/logo2.png) !important;
}
header .topMenus {
  float: right;
  width: 63px;
  height: 35px;
  padding-top: 7px;
  text-align: center;
  font-size: 24px;
}
.iconLine {
  padding: 0 2%;
  overflow: hidden;
  border-bottom: 1px solid #d8d8d8;
}
.iconLine li {
  float: left;
  width: 25%;
  text-align: center;
}
.iconLine li a {
  color: #666;
  padding: 20px 0;
  font-size: 1.2em;
  display: block;
}
.iconLine li a span {
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/01_2.png");
  background-size: 45px;
}
.iconLine li:nth-of-type(2) span {
  background-image: url("../img/02_2.png");
}
.iconLine li:nth-of-type(3) span {
  background-image: url("../img/03_2.png");
}
.iconLine li:nth-of-type(4) span {
  background-image: url("../img/04_2.png");
}
.mainfoot {
  width: 100%;
  padding: 30px 0;
}
.mainfoot p {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}
.mainfoot .call400 {
  display: block;
  width: 180px;
  height: 44px;
  text-align: center;
  color: #fff;
  line-height: 42px;
  font-weight: bold;
  background: -webkit-linear-gradient(top, #7a7a7a, #000000);
  background: -moz-linear-gradient(top, #7a7a7a, #000000);
  background: -ms-linear-gradient(top, #7a7a7a, #000000);
  background: -o-linear-gradient(top, #7a7a7a, #000000);
  background: linear-gradient(top, #7a7a7a, #000000);
  font-size: 23px;
  border-radius: 5px;
  margin: 20px auto 40px ;
}
.mainbottom {
  margin-bottom: 60px;
}
.mainbottom li,
.mubuinner li {
  padding: 0 20px;
}
.mainbottom li > a,
.mubuinner li > a {
  display: block;
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  background: url("../img/mainbottom.png") no-repeat right center;
  background-size: 12px;
  transition: all .6s;
  text-shadow: none;
}
.mainbottom li a.dianshang,
.mubuinner li a.dianshang {
  color: #f23f1c;
  opacity: .8;
}
.mainbottom li a.dianshang ~ div a:nth-of-type(1),
.mubuinner li a.dianshang ~ div a:nth-of-type(1) {
  background: url("../img/dianshang3.png") no-repeat left center;
  text-indent: 3em;
  background-size: 32px;
}
.mainbottom li a.dianshang ~ div a:nth-of-type(2),
.mubuinner li a.dianshang ~ div a:nth-of-type(2) {
  background: url("../img/dianshang1.png") no-repeat left center;
  text-indent: 3em;
  background-size: 32px;
}
.mainbottom li a.dianshang ~ div a:nth-of-type(3),
.mubuinner li a.dianshang ~ div a:nth-of-type(3) {
  background: url("../img/dianshang2.png") no-repeat left center;
  text-indent: 3em;
  background-size: 32px;
}
.mainbottom li .join,
.mubuinner li .join {
  background-image: url("../img/mainbottom3.png");
}
.mainbottom li .news,
.mubuinner li .news {
  background-image: url("../img/mainbottom3.png");
}
.mainbottom li > div,
.mubuinner li > div {
  display: none;
}
.mainbottom li > div a,
.mubuinner li > div a {
  display: block;
  height: 42px;
  line-height: 42px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.4);
  text-indent: 1.8em;
}
.mubuinner li a {
  -webkit-transform: translate(75px, -15px) scale(1.2);
  transform: translate(75px, -15px) scale(1.2);
  transform-origin: 100% 100%;
  color: #2f2f2f;
}
.mubuinner li .shouye a:nth-of-type(1) {
  background: url(../img/mubu01.png) no-repeat 10px center;
  background-size: 57px;
}
.mubuinner li .shouye a:nth-of-type(2) {
  background: url(../img/mubu02.png) no-repeat 10px center;
  background-size: 57px;
}
.mubuinner li .shouye a:nth-of-type(3) {
  background: url(../img/mubu03.png) no-repeat 10px center;
  background-size: 57px;
}
.mubuinner li .shouye a:nth-of-type(4) {
  background: url(../img/mubu04.png) no-repeat 10px center;
  background-size: 57px;
}
.mubuinner li .shouye a {
  display: block;
  width: 50%;
  height: 57px;
  line-height: 57px;
  font-size: 13px;
  float: left;
  text-indent: 75px;
}
.mubuinner li:nth-of-type(2) a {
  transition-delay: .2s;
}
.mubuinner li:nth-of-type(3) a {
  transition-delay: .4s;
}
.mubuinner li:nth-of-type(4) a {
  transition-delay: .6s;
}
.mubuinner li:nth-of-type(5) a {
  transition-delay: .8s;
}
.mubuinner li:nth-of-type(6) a {
  transition-delay: 1s;
}
footer {
  height: 50px;
  width: 100%;
  line-height: 50px;
  font-size: 14px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background: -webkit-linear-gradient(top, #686868 0%, #000000 50%, #686868 100%);
  background: -moz-linear-gradient(top, #686868 0%, #000000 50%, #686868 100%);
  background: -ms-linear-gradient(top, #686868 0%, #000000 50%, #686868 100%);
  background: -o-linear-gradient(top, #686868 0%, #000000 50%, #686868 100%);
  background: linear-gradient(top, #686868 0%, #000000 50%, #686868 100%);
}
footer ul li {
  float: left;
  width: 25%;
  background: url("../img/footerBG2.jpg") no-repeat center left;
}
footer ul li a {
  display: block;
  color: #fff;
}
footer ul li:first-of-type {
  background: none;
}
