.main0 img {
  display: block;
  width: 100%;
}
.main0 .banner {
  width: 100%;
  overflow: hidden;
}
.main0 .newM {
  padding: 30px 20px 0 20px;
}
.main0 .newM h2 {
  height: 40px;
  line-height: 40px;
  margin: 0 auto 18px;
  text-align: center;
  font-size: 15px;
  font-weight: normal;
  overflow: hidden;
}
.main0 .newM .Imgtitle {
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  color: #333;
  line-height: 20px;
}
.main0 .newM img {
  margin: 10px 0;
}
.main0 .allWidth {
  width: 100%;
}
.main0 .allWidth h2 {
  height: 40px;
  line-height: 40px;
  margin: 0 auto 18px;
  text-align: center;
  font-size: 15px;
  font-weight: normal;
  overflow: hidden;
  color: #000;
  margin-top: 20px;
}
.main0 .allWidth p {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
  text-indent: .7em;
  text-align: left;
}
.main0 .allWidth p span {
  font-size: 14px;
  color: #bbb;
  text-align: center;
}
.main0 .allWidth p strong {
  color: #bbb;
  padding: 0 8px;
  font-weight: normal;
}
.main0 .allWidth .pTitle {
  text-align: center;
}
.main0 .allWidth h3 {
  font-size: 21px;
  line-height: 28px;
  padding: 0 10%;
  color: #000;
  font-weight: normal;
  margin: 30px 0 15px;
  text-align: center;
}
.main0 .pageTitle {
  font-size: 18px;
  padding: 20px 0;
  text-align: center;
}
.main0 .pageSelect {
  padding: 0 8% 20px;
}
.main0 .pageSelect a {
  display: block;
  float: left;
  width: 21%;
  margin: 3px 2%;
  font-size: 14px;
  background-color: #c8c8c8;
  text-align: center;
  padding: 5px 0;
}
.main0 .pageSelect a.selProduct {
  background-color: #4a4a4a;
  color: #fff;
}
.main0 .changePage {
  margin-top: 20px;
  border-top: 1px  solid #A6A6A6;
  border-bottom: 1px  solid #A6A6A6;
  padding: 5px;
}
.main0 .changePage > div {
  font-size: 12px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 26px;
  line-height: 26px;
}
.main0 .changePage > div span {
  text-indent: .7em;
}
